apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: ecommerce
  labels:
    role: backend
    env: demo
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      role: backend
  template:
    metadata:
      labels:
        role: backend
    spec:
      containers:
        - name: backend
          image: 050305920682.dkr.ecr.ap-south-1.amazonaws.com/backend:13
          imagePullPolicy: Always
          env:
            - name: MONGO_URI
              value: mongodb://mongodb-svc:27017/ecommerce
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: backend-cm    
                  key: node_env
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-cm       
                  key: port
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: backend-sec
                  key: jwtsecreat
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-sec
                  key: username
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-sec
                  key: password
          ports:
            - containerPort: 5000