version: "3.8"

services:
  backend:
    build: .
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: mongodb://admin:admin123@mongodb:27017/mydatabase?authSource=admin
      NODE_ENV: production
      JWT_SECRET: ghfghdtdtrtrgfgfgf
      MONGO_USERNAME: admin
      MONGO_PASSWORD: admin123
      PORT: 5000
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:3000"
    depends_on:
      - backend

  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
