apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: ecommerce
  labels:
    role: frontend
    env: demo
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      role: frontend
  template:
    metadata:
      labels:
        role: frontend
    spec:
      containers:
        - name: frontend
          image: 050305920682.dkr.ecr.ap-south-1.amazonaws.com/ecommerce:35
          imagePullPolicy: Always
          env:
            - name: VITE_API_URL
              valueFrom:
                configMapKeyRef:
                  name: backend-url           
                  key: React_app_backend_url 
          ports:
            - containerPort: 80